<% if @restaurants.any? %>
	<% @restaurants.each do |restaurant| %>
		<h1> <%= restaurant.name %> </h1>
		<p> <%= restaurant.cuisine %> </p>
		<%= link_to "Edit #{restaurant.name}", edit_restaurant_path(restaurant) %>
		<%= link_to "Delete #{restaurant.name}", restaurant_path(restaurant), method: :delete %>
	<% end %>
<% else %>
<h1> no restaurants </h1>
<% end %>

<%= link_to 'Add restaurant', new_restaurant_path %>