<%= form_for [restaurant, @review] do |f| %>

    <div class='stars'>
        <% 1.upto(5) do |n| %>
            <%= f.label n, :class => "star-#{n}", for: "star-#{n}" %>
            <%= f.radio_button :rate, n, :class => "star-#{n}", id: "star-#{n}" %>
        <% end %>
        <span></span>
    </div>

	<%= f.text_area :comment %>
	<%= f.submit 'Add review'%>
 
<% end %>