<!DOCTYPE html>
<html>
<head>
  <title>Yata</title>
  <meta charset="utf8">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<header>
		<nav>
			<ul>
				<li> 
					<%= link_to 'Add restaurant', new_restaurant_path %>
				</li>
			</ul>
		</nav>
	</header>
	 <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>

<%= yield %>
 <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</body>
</html>
